<section class="shadow">
  
  <section class="w3l-top-menu-1">
    <div class="top-hd">

      <div class="container">
    <header class="row">
      <div class="social-top col-lg-3 col-6">
        <li>Follow Us</li>
        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
        <li><a href="#"><span class="fa fa-instagram"></span></a> </li>
      </div>
      <div class="accounts col-lg-9 col-6">
          <li class="top_li"><span class="fa fa-mobile"></span><a href="">+91 123456789</a> </li>

          {% if user.is_superuser %}
          <li class="top_li1"><a href="{% url 'admin:index' %}">Admin</a></li>
          {% else %}
            {% if not request.user.is_authenticated %}

          <li class="top_li2"><a href="{% url "registeruser" %}">Register</a></li>
          
            {% endif %}     
          {% endif %}

          
          
          {% if request.user.is_authenticated %}
              {% if user.services.exists  %}
          
                 <li class="top_li1"><a href="{% url "profile" %}">Profile</a></li>

             {% endif %}

              <li class="top_li1"><a href="{% url "logout" %}">Logout</a></li>

          {% else %}

              <li class="top_li1"><a href="{% url "login" %}">Login</a></li>

          {% endif %}

        
      </div>
      
    </header>
  </div>
  </div>
  </section>
  <!-- //Top Menu 1 -->
  <section class="w3l-bootstrap-header">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
      <div class="container">
        <a class="navbar-brand" href="{% url "index" %}">Temple Fest</a>
     
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa fa-bars"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url "index" %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "about" %}">About</a>
            </li>
            {% if user.services.exists  %}

            <li class="nav-item">
              <a class="nav-link" href="{% url "request" %}">Request</a>
            </li>

            {% else %}
                {% if not user.is_superuser %}
             <li class="nav-item">
              <a class="nav-link" href="{% url "bookings" %}">Booked</a>
            </li>
            {% endif %}
          {% endif %}

            <li class="nav-item mr-0">
              <a class="nav-link" href="{% url 'messages' %}">Inbox</a>
            </li>
          </ul>
         
        </div>
      </div>
    </nav>
  </section>
</section>