{% extends "base.html" %}
{% block tytle %}Services{% endblock tytle %}
{% block content %}
<section class="grids-4" id="properties">
  <div id="grids4-block" class="py-5">
    <div class="container py-md-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">Service Available</h3>
        <p class="my-3 head">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row mt-5 pt-3">
        <div class="grids4-info col-lg-4 col-md-6">
          {% load static %}
          <a href="#">
            <img src="{% block serviceimage %}
                {% static '/images/2.jpg' %}
              {% endblock %}"
              class="img-fluid"
              alt="" />
          </a>
          <ul class="location-top">
            <li class="rent">
                status
            </li>
          </ul>
          <div class="info-bg">
            <h5>
              <a href="#">
                  Service Name
              </a>
            </h5>
            <p>
                Detail about the service
            </p>
            <ul>
              <a href="{% url "servicedetail" %}"><button class="btn" style="background-color: #02ad88; color: white; font-weight: 700">View Details</button></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}